<a href="https://colab.research.google.com/github/Krzesimir13/DataQuest/blob/main/eBay_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Guided Project: Exploring eBay Car Sales Data**

The aim of this project is to clean the dataset and perform some initial analysis on it.

##Preparation of the environment


*   Import of dataset from Google Drive
*   Import of pandas and numpy
*   Creating a DataFrame object from the dataset and its copy to ongoing work

In [1]:
import pandas as pd
import numpy as np


from google.colab import drive
drive.mount('/content/drive', force_remount=True)

autos_raw = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/autos.csv",
                          encoding='latin-1')
autos = autos_raw.copy()

Mounted at /content/drive

##Preview of the dataset

In [2]:
# @title
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

* The dataset contains 20 columns, most of which are strings.
* Some columns have null values, but none have more than ~20% null values.
* The column names use camelcase instead of Python's preferred snakecase which means we can't just replace spaces with underscores.

##Changing column names

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
autos = autos.rename({'yearOfRegistration' : 'registration_year',
              'monthOfRegistration' : 'registration_month',
              'notRepairedDamage' : 'unrepaired_damage',
              'dateCreated' : 'ad_created',
              'offerType' : 'offer_type',
              'vehicleType' : 'vehicle_type',
              'powerPS' : 'power_ps',
              'fuelType' : 'fuel_type',
              'nrOfPictures' : 'nr_of_pictures',
              'postalCode' : 'postal_code',
              'lastSeen' : 'last_seen',
              'dateCrawled' : 'date_crawled'
              }, axis=1)

In [6]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [8]:
autos = autos.rename({'odometer' : 'odometer_km', 'price' : 'price_usd'}, axis=1)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price_usd', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

##View for data in the columns
* date_crawled : should be converted into pd.DataFrame
* name : messy column, drop it
* seller : almost all 'private', drop it
* offer_type : almost all 'Angebot', drop it
* price : obj values, convert into numeric
* registration year : some stupid values
* odometer : remove 'km' and convert to numeric

In [7]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-19 17:36:18,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Removing the non-informative columns: `name`, `seller`, `offer_type`

In [55]:
autos = autos.drop(['name', 'seller', 'offer_type'], axis=1)

,date_crawled,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

###Cleaning the data in the `odometer_km` and `price_usd` columns

In [9]:
def clean_price(price):
  if isinstance(price, int):
    return price
  price = price.replace('$', '').replace(',', '')
  return int(price)

autos.price_usd = autos.price_usd.apply(clean_price)

In [10]:
def clean_odometer(odometer):
  if isinstance(odometer, int):
    return odometer
  odometer = odometer.replace('km', '').replace(',', '')
  return int(odometer)

autos.odometer_km = autos.odometer_km.apply(clean_odometer)

###View for `odometer` column

In [15]:
print(autos.odometer_km.shape,'\n')
print(autos.odometer_km.describe(),'\n')
print(autos.odometer_km.value_counts().sort_index(ascending=True))

(50000,)

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

odometer_km
5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: count, dtype: int64

`odometer_km` column data seem rational, no need for correction

---

###View for `price_usd` column

In [32]:
print(autos.price_usd.shape,'\n')
print(autos.price_usd.describe(),'\n')
print(autos.price_usd.value_counts().sort_index(ascending=True), '\n')
print(autos.price_usd[autos['price_usd'] > 1000000].value_counts())

(50000,)

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_usd, dtype: float64

price_usd
0           1421
1            156
2              3
3              1
5              2
            ...
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: count, Length: 2357, dtype: int64

<class 'pandas.core.series.Series'>
Index: 11 entries, 2897 to 47634
Series name: price_usd
Non-Null Count  Dtype
--------------  -----
11 non-null     int64
dtypes: int64(1)
memory usage: 176.0 bytes
None

In [52]:
price_ranges = pd.cut(
    autos['price_usd'],
    bins=[-1, 0, 100, 1000, 10000, 100000, 1000000, float('inf')],
    labels=[
        "0 $",
        "1–100 $",
        "101–1000 $",
        "1001–10000 $",
        "10001–100000 $",
        "100001–1000000 $",
        "> 1000000 $"
    ]
)

percentages = price_ranges.value_counts(normalize=True).sort_index()
print(print(percentages.apply(lambda x: f"{x:.2%}")))

price_usd
0 $                  2.84%
1–100 $              0.95%
101–1000 $          20.21%
1001–10000 $        59.86%
10001–100000 $      16.04%
100001–1000000 $     0.08%
> 1000000 $          0.02%
Name: proportion, dtype: object
None

`price_usd` column has a lot of non-rational values, i.e. 0 \$ or over 1 000 000 \$

---

###Changing the data type to DataFrame in columns containing date

In [66]:
autos.last_seen.head()

0    2016-04-06 06:45:54
1    2016-04-06 14:45:08
2    2016-04-06 20:15:37
3    2016-03-15 03:16:28
4    2016-04-01 14:38:50
Name: last_seen, dtype: object

Changing to datetime format

In [94]:
cols_to_dt = ['date_crawled', 'last_seen',
              'ad_created']
autos[cols_to_dt] = autos.loc[:, cols_to_dt].apply(
    pd.to_datetime, errors='coerce')
autos.loc[:, cols_to_dt].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_crawled  50000 non-null  datetime64[ns]
 1   last_seen     50000 non-null  datetime64[ns]
 2   ad_created    50000 non-null  datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 1.1 MB

In [95]:
autos[cols_to_dt].dtypes

date_crawled    datetime64[ns]
last_seen       datetime64[ns]
ad_created      datetime64[ns]
dtype: object

Normalising to save the year-month-day format

In [97]:
autos[cols_to_dt] = autos[cols_to_dt].apply(lambda col: col.dt.normalize())

In [98]:
year_month = ['registration_month', 'registration_year']
autos[year_month].dtypes

registration_month    int64
registration_year     int64
dtype: object

In [113]:
print(autos['registration_year'].value_counts().sort_index())
print(autos['registration_month'].value_counts())

registration_year
1000    1
1001    1
1111    1
1500    1
1800    2
       ..
6200    1
8888    1
9000    2
9996    1
9999    4
Name: count, Length: 97, dtype: int64
registration_month
0     5075
3     5071
6     4368
5     4107
4     4102
7     3949
10    3651
12    3447
9     3389
11    3360
1     3282
8     3191
2     3008
Name: count, dtype: int64

Columns `registration_year` and `registration_month` have the mistakes: '0' month and non-reasonable years.

In [123]:
good_years = autos['registration_year'].between(1918, 2016)
print(good_years.value_counts())
good_months = autos['registration_month'] != 0
print(good_months.value_counts())

registration_year
True     48019
False     1981
Name: count, dtype: int64
registration_month
True     44925
False     5075
Name: count, dtype: int64

I decide to drop the columns with bad year, save those with bad months.

In [128]:
autos = autos[good_years]

In [131]:
autos['registration_year'].value_counts(normalize=True)

registration_year
2000    0.069847
2005    0.062788
1999    0.062475
2004    0.056998
2003    0.056790
          ...
1943    0.000021
1939    0.000021
1952    0.000021
1938    0.000021
1953    0.000021
Name: proportion, Length: 77, dtype: float64

##Exploring price by brand

In [133]:
autos.brand.value_counts()

brand
volkswagen        10188
bmw                5284
opel               5193
mercedes_benz      4580
audi               4149
ford               3352
renault            2273
peugeot            1418
fiat               1242
seat                873
skoda               770
mazda               727
nissan              725
citroen             669
smart               668
toyota              599
sonstige_autos      521
hyundai             473
volvo               444
mini                415
mitsubishi          391
honda               377
kia                 341
alfa_romeo          318
porsche             293
suzuki              284
chevrolet           274
chrysler            176
daihatsu            123
dacia               123
jeep                108
subaru              105
land_rover           98
saab                 77
jaguar               76
trabant              74
daewoo               72
rover                65
lancia               52
lada                 29
Name: count, dtype: int64

In [154]:
autos_prices_ok = autos.loc[autos.price_usd.between(10, 500000)]
price_by_brand = autos_prices_ok.groupby('brand')[['price_usd', 'odometer_km']]\
.mean().sort_values(by='odometer_km', ascending=False).astype(int)
price_by_brand

                price_usd  odometer_km
brand
saab                 3211       144415
volvo                4969       138294
rover                1602       137661
bmw                  8367       132553
chrysler             3465       132378
alfa_romeo           4100       131747
mercedes_benz        8657       130838
opel                 2993       129315
audi                 9362       129208
volkswagen           5418       128706
renault              2484       128200
jeep                11650       127122
peugeot              3100       127122
mitsubishi           3421       126837
subaru               3993       125858
mazda                4112       124464
ford                 3757       124210
jaguar              11635       124178
honda                4119       122493
lancia               3376       121900
daewoo               1049       121642
seat                 4417       121166
citroen              3784       119647
nissan               4750       118370
land_rover          19108       118010
fiat                 2818       117066
daihatsu             1636       116410
toyota               5167       115944
kia                  5982       112530
skoda                6384       110746
suzuki               4111       108315
hyundai              5376       106541
chevrolet            6709        99547
smart                3580        99326
porsche             46127        97155
sonstige_autos      12613        90446
mini                10639        88308
dacia                5915        84268
lada                 2688        83518
trabant              1818        55312

##Finding the most common brand-model combinations

In [156]:
autos.groupby(['brand', 'model']).size().sort_values(ascending=False).head()

brand       model
volkswagen  golf      3815
bmw         3er       2688
volkswagen  polo      1677
opel        corsa     1644
volkswagen  passat    1388
dtype: int64