<a href="https://colab.research.google.com/github/Krzesimir13/DataQuest/blob/main/f500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')  # pojawi się link do autoryzacji

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/f500.csv"  # <- zmień ścieżkę
f500 = pd.read_csv(path)

In [3]:
type(f500)

pandas.core.frame.DataFrame

In [4]:
f500.shape

(500, 17)

In [ ]:
# @title
print(f500.head(3))

In [ ]:
# @title
print(f500.tail(3))

In [ ]:
# @title
f500_selection = f500.head()
f500_selection.dtypes

In [ ]:
# @title
f500.info()

In [ ]:
# @title
industries = f500['industry']
industries_type = type(industries)
print(industries)
print(industries_type)

In [ ]:
# @title
countries = f500['country']
country_counts = countries.value_counts()
top_country = country_counts.idxmax()
print(top_country)
hq_locations = f500['hq_location']
hql_counts = hq_locations.value_counts()
top_city = hql_counts.idxmax()
print(top_city)

In [ ]:
# @title
hq_locations.count()

In [ ]:
# @title
toyota = f500.loc['Toyota Motor']
drink_companies = f500.loc[['Anheuser-Busch InBev', 'Coca-Cola', 'Heineken Holding']]
middle_companies = f500.loc['Tata Motors' : 'Nationwide']
print(toyota)

In [ ]:
# @title
india = country_counts.loc['India']
type(india)

In [ ]:
# @title
north_america =country_counts.loc[['USA', 'Canada', 'Mexico']]
japan_to_spain = country_counts.loc['Japan' : 'Spain']

In [ ]:
# @title
big_movers = f500.loc[['Aviva', 'HP', 'JD.com', 'BHP Billiton'], ['rank', 'previous_rank']]
#print(big_movers)
bottom_companies = f500.loc['National Grid':'AutoNation', ['rank', 'sector', 'country']]
#print(bottom_companies)
revenue_giants = f500.loc[['Apple', 'Industrial & Commercial Bank of China',
                          'China Construction Bank', 'Agricultural Bank of China'],
                          'revenues':'profit_change']

                                       revenues  revenue_change  profits  \
Apple                                    215639            -7.7  45687.0
Industrial & Commercial Bank of China    147675           -11.7  41883.9
China Construction Bank                  135093            -8.7  34840.9
Agricultural Bank of China               117275           -12.1  27687.8

                                        assets  profit_change
Apple                                   321686          -14.4
Industrial & Commercial Bank of China  3473238           -5.0
China Construction Bank                3016578           -4.0
Agricultural Bank of China             2816039           -3.6

# Part 2
Exploring Data with Pandas: Fundamentals

In [5]:
f500_head = f500.head(10)
print(f500_head)
print(f500.info())

                    company  rank  revenues  revenue_change  profits  assets  \
0                   Walmart     1    485873             0.8  13643.0  198825
1                State Grid     2    315199            -4.4   9571.3  489838
2             Sinopec Group     3    267518            -9.1   1257.9  310726
3  China National Petroleum     4    262573           -12.3   1867.5  585619
4              Toyota Motor     5    254694             7.7  16899.3  437575
5                Volkswagen     6    240264             1.5   5937.3  432116
6         Royal Dutch Shell     7    240033           -11.8   4575.0  411275
7        Berkshire Hathaway     8    223604             6.1  24074.0  620854
8                     Apple     9    215639            -7.7  45687.0  321686
9               Exxon Mobil    10    205004           -16.7   7840.0  330314

   profit_change                  ceo  \
0           -7.2  C. Douglas McMillon
1           -6.2              Kou Wei
2          -65.0            Wang Yupu
3          -73.7        Zhang Jianhua
4          -12.3          Akio Toyoda
5            NaN      Matthias Muller
6          135.9      Ben van Beurden
7            NaN    Warren E. Buffett
8          -14.4      Timothy D. Cook
9          -51.5      Darren W. Woods

                                   industry                  sector  \
0                     General Merchandisers               Retailing
1                                 Utilities                  Energy
2                        Petroleum Refining                  Energy
3                        Petroleum Refining                  Energy
4                  Motor Vehicles and Parts  Motor Vehicles & Parts
5                  Motor Vehicles and Parts  Motor Vehicles & Parts
6                        Petroleum Refining                  Energy
7  Insurance: Property and Casualty (Stock)              Financials
8               Computers, Office Equipment              Technology
9                        Petroleum Refining                  Energy

   previous_rank      country             hq_location  \
0              1          USA         Bentonville, AR
1              2        China          Beijing, China
2              4        China          Beijing, China
3              3        China          Beijing, China
4              8        Japan           Toyota, Japan
5              7      Germany      Wolfsburg, Germany
6              5  Netherlands  The Hague, Netherlands
7             11          USA               Omaha, NE
8              9          USA           Cupertino, CA
9              6          USA              Irving, TX

                            website  years_on_global_500_list  employees  \
0            http://www.walmart.com                        23    2300000
1            http://www.sgcc.com.cn                        17     926067
2            http://www.sinopec.com                        19     713288
3            http://www.cnpc.com.cn                        17    1512048
4      http://www.toyota-global.com                        23     364445
5         http://www.volkswagen.com                        23     626715
6              http://www.shell.com                        23      89000
7  http://www.berkshirehathaway.com                        21     367700
8              http://www.apple.com                        15     116000
9         http://www.exxonmobil.com                        23      72700

   total_stockholder_equity
0                     77798
1                    209456
2                    106523
3                    301893
4                    157210
5                     97753
6                    186646
7                    283001
8                    128249
9                    167325
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB
None

In [8]:
rank_change = f500['previous_rank'] - f500['rank']

In [10]:
rank_change.head()
type(rank_change)

pandas.core.series.Series

In [11]:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

In [14]:
rank = f500['rank']
rank_desc = rank.describe()
rank_desc

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

In [15]:
previous_rank = f500['previous_rank']
previous_rank_desc = previous_rank.describe()
previous_rank_desc

count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

In [25]:
zero_previous_rank = f500['previous_rank'].value_counts().loc[0]
print(zero_previous_rank)

33

In [30]:
max_f500 = f500.max(numeric_only=True)
max_f500

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [34]:
f500.describe(include=['O'])

,company,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500,500
unique,500,500,58,21,34,235,500
top,AutoNation,Michael J. Jackson,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.autonation.com
freq,1,1,51,118,132,56,1

In [3]:
f500.loc['Dow Chemical', 'ceo'] = 'Jim Fitterling'

In [4]:
f500.loc['Dow Chemical', 'ceo']

'Jim Fitterling'

In [6]:
motor_bool = f500['industry'] == "Motor Vehicles and Parts"
motor_countries = f500.loc[motor_bool, 'country']
motor_countries.head()

4       Japan
5     Germany
16    Germany
17        USA
20        USA
Name: country, dtype: object

In [7]:
import numpy as np

In [11]:
prev_rank_before = f500['previous_rank']
prev_rank_mask = prev_rank_before == 0
f500.loc[prev_rank_mask, 'previous_rank'] = np.nan
prev_rank_after = f500['previous_rank']
prev_rank_after.value_counts(dropna=False).head()

previous_rank
NaN      34
334.0     1
325.0     1
340.0     1
393.0     1
Name: count, dtype: int64

In [12]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']
rank_change_desc = f500['rank_change'].describe()
rank_change_desc

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [17]:
top_2_countries = f500["country"].value_counts().head(2)
usa_mask = f500['country'] == 'USA'
industry_usa = f500.loc[usa_mask, 'industry'].value_counts().head(2)

china_mask = f500['country'] == 'China'
sector_china = f500.loc[china_mask, 'sector'].value_counts().head(3)
sector_china

sector
Financials     25
Energy         22
Wholesalers     9
Name: count, dtype: int64