<a href="https://colab.research.google.com/github/Krzesimir13/DataQuest/blob/main/f500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


f500 = pd.read_csv('f500.csv', index_col=0)
f500.index.name = None

In [ ]:
type(f500)

In [ ]:
f500.shape

In [ ]:
print(f500.head(3))

In [ ]:
print(f500.tail(3))

In [ ]:
f500_selection = f500.head()
f500_selection.dtypes

In [ ]:
f500.info()

In [ ]:
industries = f500['industry']
industries_type = type(industries)
print(industries)
print(industries_type)

In [ ]:
countries = f500['country']
country_counts = countries.value_counts()
top_country = country_counts.idxmax()
print(top_country)
hq_locations = f500['hq_location']
hql_counts = hq_locations.value_counts()
top_city = hql_counts.idxmax()
print(top_city)

In [ ]:
hq_locations.count()

In [ ]:
toyota = f500.loc['Toyota Motor']
drink_companies = f500.loc[['Anheuser-Busch InBev', 'Coca-Cola', 'Heineken Holding']]
middle_companies = f500.loc['Tata Motors' : 'Nationwide']
print(toyota)

In [ ]:
india = country_counts.loc['India']
type(india)

numpy.int64

In [ ]:
north_america =country_counts.loc[['USA', 'Canada', 'Mexico']]
japan_to_spain = country_counts.loc['Japan' : 'Spain']

In [ ]:
big_movers = f500.loc[['Aviva', 'HP', 'JD.com', 'BHP Billiton'], ['rank', 'previous_rank']]
#print(big_movers)
bottom_companies = f500.loc['National Grid':'AutoNation', ['rank', 'sector', 'country']]
#print(bottom_companies)
revenue_giants = f500.loc[['Apple', 'Industrial & Commercial Bank of China',
                          'China Construction Bank', 'Agricultural Bank of China'],
                          'revenues':'profit_change']

                                       revenues  revenue_change  profits  \
Apple                                    215639            -7.7  45687.0
Industrial & Commercial Bank of China    147675           -11.7  41883.9
China Construction Bank                  135093            -8.7  34840.9
Agricultural Bank of China               117275           -12.1  27687.8

                                        assets  profit_change
Apple                                   321686          -14.4
Industrial & Commercial Bank of China  3473238           -5.0
China Construction Bank                3016578           -4.0
Agricultural Bank of China             2816039           -3.6